* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 60%;
    font-family: "Josefin Sans";
    color: #ffffff;
}

.center {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    height: 200px;
    display: flex;
    justify-content: center;
}

.nav-header {
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.nav-header ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

}

.nav-header li {
    margin: 0 10px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 400; 
}

.main-title {
    font-size: 70px;
    line-height: 40px;
    font-family: 'Lobster', sans-serif, cursive;
    font-weight: 400;
    text-align: center;
}

.btn {
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-image: linear-gradient(47deg, rgba(240, 227, 185, 0) 0%, #d6b13e 40%, #cda527 81%);
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 8px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
   color: #ffffff;
}

.main-button {
    position: absolute;
    top: 45%;
    left: calc(50% - 125px);
}

.btn:hover {
    cursor: pointer;
}

.modal-wrap {
    display: none;
}

.modal-wrap.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.modal-wrap.active .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #fff;
}

.dim {
    filter: brightness(-50);
}

.hide {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: arial;
    font-size: 10px;
    color: #b7b7b7;
    cursor: pointer;
}

.form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: white;
}

.form-login-title {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 8px;
    color: #292d2f;
    font-weight: 400;
    text-align: center;

}

input {
    border: none transparent;
    outline: none;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 18px;
    width: 50%;
    color: #292d2f;
    font-family: "Josefin Sans";
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #292d2f;
}

.login {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.password {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-lg {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);

}

.page-footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 80px;
    background-color: #000000;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.page-footer li {
    display: inline-block; 
    font-size: 10px;
    color: #b7b7b7;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social-footer span {
    margin: 0 10px;
}
